secrets.json

reddit_secrets.json
held_coins.json
logs.txt
pending_orders.json
keltner_coins.json
coin_highest_price_history.json
workspace.xml
global_return.json
logs_to_send.txt
email_info.json
historical_coin_data.json
reddit_coins.json

Trader/Main/coin_highest_price_history.json
Trader/Main/global_return.json
Trader/Main/logs_to_send.txt
/Trader/Main/reddit_top_coins.json
Trader/Main/__pycache__/Buy_Low_sell_high_strat.cpython-36.pyc
Trader/Main/__pycache__/Reddit_strat.cpython-36.pyc
/Trader/Main/ftp_server_info.json
/Trader/Main/coin_low_bars.json
